{% extends "layouts/index.html" %}
{% load static %}

{% block title %}Meme Notify{% endblock %}

{% block body %}
  <div class="flex justify-center pt-24 pb-12 px-2 sm:px-0">
  </div>

  <p class="text-center text-lg mt-6">
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        {{ formset.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% for error in formset.errors %}
      <span class="error">{{ error }}</span>
    {% endfor %}

    {% for error in formset.non_form_errors %}
      <span class="error">{{ error }}</span>
    {% endfor %}

  </p>
{% endblock %}
